#home {
    height: calc(100vh - 100px);
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

/* #home:after {
    background: url('../../assets/wave.svg');
    content: '';
    display: inline-block;
    position: absolute;
    width: 100vw;
    height: 13vh;
    left: 0;
    bottom: 0px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    
} */

.home__container {
    padding-top: 56px;
    margin: auto;
    display: flex;
}

.home__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__row > img {
    object-fit: contain;
    height: 480px;
    z-index: 100;
}

.home__title,
.home__title--description {
    max-width: 900px;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.home__title {
    color: #B637FB;
    font-size: 32px;
}

